@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/poppins.woff2') format('woff2');
	}

	* {
		@apply font-poppins;
	}

	input[type='text'] {
		@apply rounded-lg border-2 border-gray-200 p-1;
	}

	h1 {
		@apply text-4xl;
	}
}
